body
{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: cursive;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #f0f0eb;
}
.app
{
  display: flex;
  width: 100vw;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}
img[alt="loading..."]
{
  width: 5rem;
  height: 5rem;
}
.tasks-box
{
  display: flex;
  width: 50%;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(223, 223, 223);
  box-shadow: 1px 1px 10px 1px #bababa;
}
.tasks-box > div 
{
  width: 100%;
}
.task
{
  width: 100%;
}
.task > div
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1
{
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #b3b3b3;
}
input 
{
  padding: 0.2rem 0 !important;
}
#undone-mark
{
  color: rgb(62, 35, 0);
}
.buttons
{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.edit,.delete
{
  cursor: pointer;
}
.edit
{
  color: rgb(222, 144, 0);
}
.content
{
  display: flex; 
  flex-direction: column;
}
input[type="text"]
{
  padding:  0.1rem;
  outline: rgb(122, 79, 0);
}
.edit-box
{
  display: flex;
  align-items: center;
}
.edit-box > input 
{
  padding: 0.2rem !important;
}
.accept-edit
{
  margin:0 0.2rem 0 0.5rem;
  color: rgb(0, 219, 102);
}
.cancel-edit
{
  color: rgb(219, 40, 0);
}
.accept-edit,.cancel-edit
{
  cursor: pointer;
}
.add-box
{
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.add-box > div 
{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.add-box > button
{
  width: 100%;
  padding: 0.3rem 0;
  border-radius: 3px;
  font-size: 1rem;
  font-family: cursive;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgb(0, 166, 255);
}
.add-box > button:hover
{
  background-color: rgb(74, 192, 255);
}
.add-box > div > input 
{
  width: 100%;
  font-size: 1rem;
  padding: 0.1rem 0.2rem !important;
}
.accept-add-task
{
  color: #fff;
  background-color: rgb(0, 238, 0);
}
.cancel-add-task
{
  color: #fff;
  background-color: rgb(238, 59, 0);
}
.accept-add-task,.cancel-add-task
{
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all;
}
.accept-add-task:hover
{
  filter: brightness(1.5);
}
.cancel-add-task:hover
{
  filter: brightness(1.5);
}
